server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      # --- CONFIGURATION CORS (Pour que React puisse appeler le Back) ---
      #globalcors:
      #  cors-configurations:
      #   '[/**]':
       #     allowedOrigins: "*"   # En prod, mettre "http://localhost:3000"
        #    allowedMethods:
         #     - GET
          #    - POST
           #   - PUT
            #  - PATCH
             # - DELETE
              #- OPTIONS
            #allowedHeaders: "*"

      routes:
        # ==========================================
        # 0. AUTH SERVICE
        # ==========================================
        # 0a. Public (Login, Register)
        - id: auth-service-public
          uri: http://auth-service:8089
          predicates:
            - Path=/auth/register, /auth/token

        # 0b. Profil Utilisateur (Nécessaire pour le Front)
        - id: auth-service-profile
          uri: http://auth-service:8089
          predicates:
            - Path=/auth/me
          filters:
            - AuthenticationFilter # Token requis

        # 0c. Admin Panel
        - id: auth-service-admin
          uri: http://auth-service:8089
          predicates:
            - Path=/admin/**
          filters:
            - name: AuthenticationFilter
              args:
                role: ADMIN

        # ==========================================
        # 1. SMART MOBILITY
        # ==========================================
        # 1a. Gestion (Admin)
        - id: mobility-service-write
          uri: http://mobility-service:8081
          predicates:
            - Path=/api/mobility/**
            - Method=POST,PUT,PATCH,DELETE
          filters:
            - name: AuthenticationFilter
              args:
                role: ADMIN

        # 1b. Consultation (Tout le monde connecté)
        - id: mobility-service-read
          uri: http://mobility-service:8081
          predicates:
            - Path=/api/mobility/**
            - Method=GET
          filters:
            - AuthenticationFilter

        # ==========================================
        # 2. SMART CITIZEN
        # ==========================================
        # 2a. Supervision (Admin OU Maire)
        - id: citizen-service-supervision
          uri: http://citizen-service:8083
          predicates:
            - Path=/api/citizen/reclamations/stats, /api/citizen/reclamations/all, /api/citizen/reclamations/*/status
          filters:
            - name: AuthenticationFilter
              args:
                role: ADMIN,MAIRE

        # 2b. Suppression (Admin Seul)
        - id: citizen-service-delete
          uri: http://citizen-service:8083
          predicates:
            - Path=/api/citizen/**
            - Method=DELETE
          filters:
            - name: AuthenticationFilter
              args:
                role: ADMIN

        # 2c. Usage Citoyen Standard
        - id: citizen-service-standard
          uri: http://citizen-service:8083
          predicates:
            - Path=/api/citizen/**
          filters:
            - AuthenticationFilter

        # ==========================================
        # 3. AIR QUALITY (SOAP via Orchestrateur)
        # ==========================================
        # Note: On laisse l'accès direct SOAP au cas où, mais le Front passera par l'Orchestrateur
        - id: air-quality-service
          uri: http://air-quality-service:8082
          predicates:
            - Path=/services/air/**
          filters:
            - AuthenticationFilter

        # ==========================================
        # 4. SMART ENERGY (GraphQL)
        # ==========================================
        - id: energy-service
          uri: http://energy-service:4000
          predicates:
            - Path=/graphql/**
          filters:
            - RewritePath=/graphql(?<segment>/?.*), /$\{segment}
            - AuthenticationFilter
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials RETAIN_FIRST

        # ==========================================
        # 5. ORCHESTRATOR SERVICE
        # ==========================================
        # API principale pour le Frontend (Urgences, Météo, Historique)
        - id: orchestrator-service
          uri: http://orchestrator-service:8084
          predicates:
            - Path=/api/orchestrator/**
          filters:
            - AuthenticationFilter

logging:
  level:
    org.springframework.cloud.gateway: INFO